body {
    margin: 0;
    padding: 35px 13px;
    font-family: "Times New Roman", serif;
}

h1 {
    font-size: 55px;
    margin: 0 0 90px 0;
}

.container {
    display: flex;
    gap: 10px;
}

.box {
    width: 30%;
    height: 450px;
    color: white;
    font-size: 34px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}